@{
	ViewBag.Title = "About";
}

<div class="jumbotron">
	<h1>@ViewBag.Title.</h1>
	<p>Never get stuck watching <i>Starship Troopers</i> without the appropriate beverages again.</p>
</div>


	<p class="lead">
		Ever rewatched a movie and suddenly remembered (right after the popcorn runs out) that you hated it? Well, no more.
	</p>
	<p class="lead">
	With <b>My Movie Ratings</b>, you can keep track of the movies you watch and how much you liked them.
</p>
<p class="lead">
	Just register and confirm your email address, and you'll be off into the glorious world of never forgetting
	just how much you (dis)liked <i>Titanic</i>!
</p>
