@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    14 Apollo Way<br />
    Fra Mauro, The Moon 05062-1971<br />
    <abbr title="Phone">P:</abbr>
	202.358.0001
</address>
