
@{
	ViewBag.Title = "Help";
}
<div class="jumbotron">
	<h1>HELP.</h1>
	<h2>The site's neat and all, but how do I use it?</h2>
	<hr />
	<p>
		Never fear, friends. MyMovieRatings is an easy-to-use site without all the moving pieces
		and free-floating flamethrowers that make other movie review sites such a challenge.
	</p>
</div>

<div id="help-container" class="row">
	<div class="col-md-4">
		<h3>Step One: Register.</h3>
		<p>
			See the "Register" button in the upper right corner?
			Head over there. Just enter an email address and a password, and you're off to the movie-reviewing races.
		</p>
		<p>
			MyMovieRatings will email you at the address you supply so we can make sure it's a real email address
			and that you're not, say, pranking your Uncle Jim to spam him with infinite emails from all over the web.
		</p>
	</div>

	<div class="col-lg-4">
		<h3>Step Two: Log In.</h3>
		<p>
			So you've confirmed your email address. Now what?
		</p>
		<p>
			Head on over to the "Login" link in the upper right. It's right next to the Register link. Click that, and use your email address and password to log in!
		</p>
	</div>
	<div class="col-md-4">

		<h3>Step Three: RATE THOSE MOVIES.</h3>
		<p>
			It's what you've always been waiting for. Click one of the "My Movies" links and follow the page links to create, edit,
			delete, and view your very own movie ratings. Go forth and rate some movies!
		</p>
	</div>
</div>
<p class="lead" id="sign-off">
	Sincerely,
	<br /> Your friends at MyMovieRatings
</p>