
@{
	ViewBag.Title = "Internal Server Error";
}

<h2>This is a mystery.</h2>

<p>Well, <i>something's</i> not right. Give it a second or three and try again, and everything should be fine. </p>
<p>Unless you're doing something outrageous to the site, in which case this is probably your fault and you should stop that.</p>
