
@{
    ViewBag.Title = "Not Found";
}

<h2>Oh dear.</h2>

<p>The page you tried to access isn't available. Dark times. Click @Html.ActionLink("here to get back to movie rating", "Index", "MovieReviews").</p>
