
@{
	ViewBag.Title = "Validation Error";
}

<h2>...can you not.</h2>

<p>
	So you just tried to name a movie with characters that may or may not also be HTML.
	Go back, try again, and don't include any HTML tags this time.
	(Those look like this, if you're curious or confused: < hey-buddy-im-a-tag > )
</p>
<p>
	If you did it on purpose, stop. It's not nice.
</p>
