@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
@{
	if (String.IsNullOrEmpty(ViewBag.errorMessage))
	{
		<p class="text-danger">Wow. It looks like some important information disappeared somewhere between you and us. That's a struggle. Why don't you try it again?</p>
	}
	else
	{
		<p class="text-danger">@ViewBag.errorMessage</p>
	}
}

